.venv/
*.__pycache__/
*.pyc
.git
*.gitignore

backend/__pycache__/
backend/*.pyc
backend/.venv/
backend/models/

*.log
backend/data_visualisation.html
backend/data_visualisation.ipynb
frontend/node_modules/