* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  overflow-y: hidden;
}

.container {
  margin: 12px 0 12px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

.canvas {
  background-color: black;
  border: 4px solid #6b46c1;
  cursor: crosshair;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}


h1 {
  font-size: 45px;
  font-weight: 500;
  text-align: center;
  font-weight: bold;
}

h2 {
  font-size: 35px;
  font-weight: 500;
  text-align: center;
  font-weight: bold;
}

h3 {
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  font-weight: bold;
}

.button-wrapper {
  margin-top: 8px;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1%;
}

.btn {
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #6b46c1;
  color: white;
  width: 100%;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

.purple {
  color: #6b46c1;
}

.prediction-wrapper{
	margin: 4px 0 4px 0;
}

.fa-spinner {
  animation: rotate 1.5s infinite linear;
}

.probabilities {
  width: 85%;
}

.probabilities__header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px 0 4px 0;
}

.probabilities__table {
  background-color: #6b46c1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  border: 2px solid black;
  border-radius: 8px;
  width: 75%;
  margin: 0 auto; 
}

.value__container {
  border-left: 2px solid white;
  width: calc(100% / 3);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.value__container:first-child {
  border-left: none;
}

.prob {
  color: white;
  /* padding-top: 4px; */
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.skeleton {
  background-color: #af94ee !important;
  border: 2px solid black;
}

.skeleton__display {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display__spinner {
  font-size: 15rem;
}

.skeleton__display__spinner {
  color: #af94ee;
}

.skeleton__table {
  height: 50px;
  width: 75%;
  margin: 0 auto;
}

.skeleton__table__spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  color: white;
}


.github-icon {
  color: #8d65eb;
  transition: color 0.3s ease-in-out;
  font-size: 32px;
}

.github-icon:hover {
  color: #6b46c1;
}

.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
}

.predicted-sentiment-img {
	width: 250px;
	height: 250px;
}

.text-input-wrapper {
  width: 50%;
  margin: 16px 0 8px 0;
  text-align: center;
}

.text-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #6b46c1;
  border-radius: 16px;
  border: 4px solid #6b46c1;
}

.text-input:focus {
  outline: 2px solid #6b46c1;
  outline-offset: -2px;
  color: #6b46c1;
}

.prediction-header{
	font-size: 24px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* SMALL PHONES , TABLETS , and LARGE SMARTPHONES */

@media (max-width: 768px) {
  .container {
    margin: 20px;
  }

  .value__container {
    width: calc(100% / 3);
  }

  .skeleton__display {
    height: 100px;
  }

  .display__spinner {
    font-size: 10rem;
  }

  .img-wrapper {
    width: 400px;
    height: 400px;
  }

  .skeleton__table {
    height: 102px;
  }

  .skeleton__table__spinner {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .button-wrapper {
    width: 75%;
  }

  .text-input-wrapper {
    width: 75%;
  }

  .header-description {
    font-size: 20px;
  }

  .header-title {
    font-size: 40px;
  }

  .github-icon {
    display: none;
  }
}

/* SMALL PHONES */
@media (max-width: 480px) {
  .header-title {
    font-size: 24px;
  }

  .header-description {
    font-size: 16px;
  }

  h2 {
    font-size: 20px;
  }

  .probabilities {
    display: none;
  }

  .predicted-sentiment-img {
    width: 200px;
    height: auto;
  }

  .button-wrapper {
    width: 85%;
  }

  .text-input-wrapper {
    width: 85%;
  }

  .img-wrapper {
    width: 400px;
    height: 320px;
  }
}
